{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://polly.amazonaws.com/"
        },
        {
            "url": "http://polly.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>Amazon Polly is a web service that makes it easy to synthesize speech from text.</p> <p>The Amazon Polly service provides API operations for synthesizing high-quality speech from plain text and Speech Synthesis Markup Language (SSML), along with managing pronunciations lexicons that enable you to get the best results for your application domain.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Polly",
        "version": "2016-06-10",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/polly-2016-06-10.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "polly"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/polly/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/v1/lexicons": {
            "get": {
                "description": "Returns a list of pronunciation lexicons stored in an AWS Region. For more information, see <a href=\"http://docs.aws.amazon.com/polly/latest/dg/managing-lexicons.html\">Managing Lexicons</a>.",
                "operationId": "ListLexicons",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "Lexicons": [
                                            {
                                                "Attributes": {
                                                    "Alphabet": "ipa",
                                                    "LanguageCode": "en-US",
                                                    "LastModified": 1478542980.117,
                                                    "LexemesCount": 1,
                                                    "LexiconArn": "arn:aws:polly:us-east-1:123456789012:lexicon/example",
                                                    "Size": 503
                                                },
                                                "Name": "example"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "Lexicons": {
                                            "description": "A list of lexicon names and attributes.",
                                            "items": {
                                                "description": "Describes the content of the lexicon.",
                                                "properties": {
                                                    "Attributes": {
                                                        "description": "Provides lexicon metadata.",
                                                        "properties": {
                                                            "Alphabet": {
                                                                "description": "Phonetic alphabet used in the lexicon. Valid values are <code>ipa</code> and <code>x-sampa</code>.",
                                                                "type": "string"
                                                            },
                                                            "LanguageCode": {
                                                                "description": "Language code that the lexicon applies to. A lexicon with a language code such as \"en\" would be applied to all English languages (en-GB, en-US, en-AUS, en-WLS, and so on.",
                                                                "enum": [
                                                                    "cmn-CN",
                                                                    "cy-GB",
                                                                    "da-DK",
                                                                    "de-DE",
                                                                    "en-AU",
                                                                    "en-GB",
                                                                    "en-GB-WLS",
                                                                    "en-IN",
                                                                    "en-US",
                                                                    "es-ES",
                                                                    "es-MX",
                                                                    "es-US",
                                                                    "fr-CA",
                                                                    "fr-FR",
                                                                    "is-IS",
                                                                    "it-IT",
                                                                    "ja-JP",
                                                                    "hi-IN",
                                                                    "ko-KR",
                                                                    "nb-NO",
                                                                    "nl-NL",
                                                                    "pl-PL",
                                                                    "pt-BR",
                                                                    "pt-PT",
                                                                    "ro-RO",
                                                                    "ru-RU",
                                                                    "sv-SE",
                                                                    "tr-TR"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "LastModified": {
                                                                "description": "Date lexicon was last modified (a timestamp value).",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "LexemesCount": {
                                                                "description": "Number of lexemes in the lexicon.",
                                                                "type": "integer"
                                                            },
                                                            "LexiconArn": {
                                                                "description": "Amazon Resource Name (ARN) of the lexicon.",
                                                                "type": "string"
                                                            },
                                                            "Size": {
                                                                "description": "Total size of the lexicon, in characters.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Name": {
                                                        "description": "Name of the lexicon.",
                                                        "format": "password",
                                                        "pattern": "[0-9A-Za-z]{1,20}",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The pagination token to use in the next request to continue the listing of lexicons. <code>NextToken</code> is returned only if the response is truncated.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {},
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/lexicons/{LexiconName}": {
            "delete": {
                "description": "<p>Deletes the specified pronunciation lexicon stored in an AWS Region. A lexicon which has been deleted is not available for speech synthesis, nor is it possible to retrieve it using either the <code>GetLexicon</code> or <code>ListLexicon</code> APIs.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/polly/latest/dg/managing-lexicons.html\">Managing Lexicons</a>.</p>",
                "operationId": "DeleteLexicon",
                "parameters": [
                    {
                        "in": "path",
                        "name": "LexiconName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {},
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LexiconNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Name": "example"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Returns the content of the specified pronunciation lexicon stored in an AWS Region. For more information, see <a href=\"http://docs.aws.amazon.com/polly/latest/dg/managing-lexicons.html\">Managing Lexicons</a>.",
                "operationId": "GetLexicon",
                "parameters": [
                    {
                        "in": "path",
                        "name": "LexiconName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "Lexicon": {
                                            "Content": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<lexicon version=\"1.0\" \r\n      xmlns=\"http://www.w3.org/2005/01/pronunciation-lexicon\"\r\n      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" \r\n      xsi:schemaLocation=\"http://www.w3.org/2005/01/pronunciation-lexicon \r\n        http://www.w3.org/TR/2007/CR-pronunciation-lexicon-20071212/pls.xsd\"\r\n      alphabet=\"ipa\" \r\n      xml:lang=\"en-US\">\r\n  <lexeme>\r\n    <grapheme>W3C</grapheme>\r\n    <alias>World Wide Web Consortium</alias>\r\n  </lexeme>\r\n</lexicon>",
                                            "Name": "example"
                                        },
                                        "LexiconAttributes": {
                                            "Alphabet": "ipa",
                                            "LanguageCode": "en-US",
                                            "LastModified": 1478542980.117,
                                            "LexemesCount": 1,
                                            "LexiconArn": "arn:aws:polly:us-east-1:123456789012:lexicon/example",
                                            "Size": 503
                                        }
                                    },
                                    "properties": {
                                        "Lexicon": {
                                            "description": "Lexicon object that provides name and the string content of the lexicon. ",
                                            "properties": {
                                                "Content": {
                                                    "description": "Lexicon content in string format. The content of a lexicon must be in PLS format.",
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "Name of the lexicon.",
                                                    "format": "password",
                                                    "pattern": "[0-9A-Za-z]{1,20}",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "LexiconAttributes": {
                                            "description": "Metadata of the lexicon, including phonetic alphabetic used, language code, lexicon ARN, number of lexemes defined in the lexicon, and size of lexicon in bytes.",
                                            "properties": {
                                                "Alphabet": {
                                                    "description": "Phonetic alphabet used in the lexicon. Valid values are <code>ipa</code> and <code>x-sampa</code>.",
                                                    "type": "string"
                                                },
                                                "LanguageCode": {
                                                    "description": "Language code that the lexicon applies to. A lexicon with a language code such as \"en\" would be applied to all English languages (en-GB, en-US, en-AUS, en-WLS, and so on.",
                                                    "enum": [
                                                        "cmn-CN",
                                                        "cy-GB",
                                                        "da-DK",
                                                        "de-DE",
                                                        "en-AU",
                                                        "en-GB",
                                                        "en-GB-WLS",
                                                        "en-IN",
                                                        "en-US",
                                                        "es-ES",
                                                        "es-MX",
                                                        "es-US",
                                                        "fr-CA",
                                                        "fr-FR",
                                                        "is-IS",
                                                        "it-IT",
                                                        "ja-JP",
                                                        "hi-IN",
                                                        "ko-KR",
                                                        "nb-NO",
                                                        "nl-NL",
                                                        "pl-PL",
                                                        "pt-BR",
                                                        "pt-PT",
                                                        "ro-RO",
                                                        "ru-RU",
                                                        "sv-SE",
                                                        "tr-TR"
                                                    ],
                                                    "type": "string"
                                                },
                                                "LastModified": {
                                                    "description": "Date lexicon was last modified (a timestamp value).",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "LexemesCount": {
                                                    "description": "Number of lexemes in the lexicon.",
                                                    "type": "integer"
                                                },
                                                "LexiconArn": {
                                                    "description": "Amazon Resource Name (ARN) of the lexicon.",
                                                    "type": "string"
                                                },
                                                "Size": {
                                                    "description": "Total size of the lexicon, in characters.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LexiconNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Name": ""
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "<p>Stores a pronunciation lexicon in an AWS Region. If a lexicon with the same name already exists in the region, it is overwritten by the new lexicon. Lexicon operations have eventual consistency, therefore, it might take some time before the lexicon is available to the SynthesizeSpeech operation.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/polly/latest/dg/managing-lexicons.html\">Managing Lexicons</a>.</p>",
                "operationId": "PutLexicon",
                "parameters": [
                    {
                        "in": "path",
                        "name": "LexiconName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {},
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidLexiconException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedPlsAlphabetException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedPlsLanguageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LexiconSizeExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "MaxLexemeLengthExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "MaxLexiconsNumberExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Content": "file://example.pls",
                                    "Name": "W3C"
                                },
                                "properties": {
                                    "Content": {
                                        "description": "Content of the PLS lexicon as string data.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Content"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/speech": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Synthesizes UTF-8 input, plain text or SSML, to a stream of bytes. SSML input must be valid, well-formed SSML. Some alphabets might not be available with all the voices (for example, Cyrillic might not be read at all by English voices) unless phoneme mapping is used. For more information, see <a href=\"http://docs.aws.amazon.com/polly/latest/dg/how-text-to-speech-works.html\">How it Works</a>.",
                "operationId": "SynthesizeSpeech",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "AudioStream": "TEXT",
                                        "ContentType": "audio/mpeg",
                                        "RequestCharacters": 37
                                    },
                                    "properties": {
                                        "AudioStream": {
                                            "description": " Stream containing the synthesized speech. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "TextLengthExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidSampleRateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidSsmlException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LexiconNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "MarksNotSupportedForFormatException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "SsmlMarksNotSupportedForTextTypeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "LanguageNotSupportedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "LexiconNames": [
                                        "example"
                                    ],
                                    "OutputFormat": "mp3",
                                    "SampleRate": "8000",
                                    "Text": "All Gaul is divided into three parts",
                                    "TextType": "text",
                                    "VoiceId": "Joanna"
                                },
                                "properties": {
                                    "LanguageCode": {
                                        "description": "<p>Optional language code for the Synthesize Speech request. This is only necessary if using a bilingual voice, such as Aditi, which can be used for either Indian English (en-IN) or Hindi (hi-IN). </p> <p>If a bilingual voice is used and no language code is specified, Amazon Polly will use the default language of the bilingual voice. The default language for any voice is the one returned by the <a href=\"https://docs.aws.amazon.com/polly/latest/dg/API_DescribeVoices.html\">DescribeVoices</a> operation for the <code>LanguageCode</code> parameter. For example, if no language code is specified, Aditi will use Indian English rather than Hindi.</p>",
                                        "enum": [
                                            "cmn-CN",
                                            "cy-GB",
                                            "da-DK",
                                            "de-DE",
                                            "en-AU",
                                            "en-GB",
                                            "en-GB-WLS",
                                            "en-IN",
                                            "en-US",
                                            "es-ES",
                                            "es-MX",
                                            "es-US",
                                            "fr-CA",
                                            "fr-FR",
                                            "is-IS",
                                            "it-IT",
                                            "ja-JP",
                                            "hi-IN",
                                            "ko-KR",
                                            "nb-NO",
                                            "nl-NL",
                                            "pl-PL",
                                            "pt-BR",
                                            "pt-PT",
                                            "ro-RO",
                                            "ru-RU",
                                            "sv-SE",
                                            "tr-TR"
                                        ],
                                        "type": "string"
                                    },
                                    "LexiconNames": {
                                        "description": "List of one or more pronunciation lexicon names you want the service to apply during synthesis. Lexicons are applied only if the language of the lexicon is the same as the language of the voice. For information about storing lexicons, see <a href=\"http://docs.aws.amazon.com/polly/latest/dg/API_PutLexicon.html\">PutLexicon</a>.",
                                        "items": {
                                            "format": "password",
                                            "pattern": "[0-9A-Za-z]{1,20}",
                                            "type": "string"
                                        },
                                        "maxItems": 5,
                                        "type": "array"
                                    },
                                    "OutputFormat": {
                                        "description": "<p> The format in which the returned output will be encoded. For audio stream, this will be mp3, ogg_vorbis, or pcm. For speech marks, this will be json. </p> <p>When pcm is used, the content returned is audio/pcm in a signed 16-bit, 1 channel (mono), little-endian format. </p>",
                                        "enum": [
                                            "json",
                                            "mp3",
                                            "ogg_vorbis",
                                            "pcm"
                                        ],
                                        "type": "string"
                                    },
                                    "SampleRate": {
                                        "description": "<p> The audio frequency specified in Hz. </p> <p>The valid values for <code>mp3</code> and <code>ogg_vorbis</code> are \"8000\", \"16000\", and \"22050\". The default value is \"22050\". </p> <p> Valid values for <code>pcm</code> are \"8000\" and \"16000\" The default value is \"16000\". </p>",
                                        "type": "string"
                                    },
                                    "SpeechMarkTypes": {
                                        "description": "The type of speech marks returned for the input text.",
                                        "items": {
                                            "enum": [
                                                "sentence",
                                                "ssml",
                                                "viseme",
                                                "word"
                                            ],
                                            "type": "string"
                                        },
                                        "maxItems": 4,
                                        "type": "array"
                                    },
                                    "Text": {
                                        "description": " Input text to synthesize. If you specify <code>ssml</code> as the <code>TextType</code>, follow the SSML format for the input text. ",
                                        "type": "string"
                                    },
                                    "TextType": {
                                        "description": " Specifies whether the input text is plain text or SSML. The default value is plain text. For more information, see <a href=\"http://docs.aws.amazon.com/polly/latest/dg/ssml.html\">Using SSML</a>.",
                                        "enum": [
                                            "ssml",
                                            "text"
                                        ],
                                        "type": "string"
                                    },
                                    "VoiceId": {
                                        "description": " Voice ID to use for the synthesis. You can get a list of available voice IDs by calling the <a href=\"http://docs.aws.amazon.com/polly/latest/dg/API_DescribeVoices.html\">DescribeVoices</a> operation. ",
                                        "enum": [
                                            "Geraint",
                                            "Gwyneth",
                                            "Mads",
                                            "Naja",
                                            "Hans",
                                            "Marlene",
                                            "Nicole",
                                            "Russell",
                                            "Amy",
                                            "Brian",
                                            "Emma",
                                            "Raveena",
                                            "Ivy",
                                            "Joanna",
                                            "Joey",
                                            "Justin",
                                            "Kendra",
                                            "Kimberly",
                                            "Matthew",
                                            "Salli",
                                            "Conchita",
                                            "Enrique",
                                            "Miguel",
                                            "Penelope",
                                            "Chantal",
                                            "Celine",
                                            "Lea",
                                            "Mathieu",
                                            "Dora",
                                            "Karl",
                                            "Carla",
                                            "Giorgio",
                                            "Mizuki",
                                            "Liv",
                                            "Lotte",
                                            "Ruben",
                                            "Ewa",
                                            "Jacek",
                                            "Jan",
                                            "Maja",
                                            "Ricardo",
                                            "Vitoria",
                                            "Cristiano",
                                            "Ines",
                                            "Carmen",
                                            "Maxim",
                                            "Tatyana",
                                            "Astrid",
                                            "Filiz",
                                            "Vicki",
                                            "Takumi",
                                            "Seoyeon",
                                            "Aditi",
                                            "Zhiyu",
                                            "Bianca",
                                            "Lucia",
                                            "Mia"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OutputFormat",
                                    "Text",
                                    "VoiceId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/synthesisTasks": {
            "get": {
                "description": "Returns a list of SpeechSynthesisTask objects ordered by their creation date. This operation can filter the tasks by their status, for example, allowing users to list only tasks that are completed.",
                "operationId": "ListSpeechSynthesisTasks",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "An opaque pagination token returned from the previous List operation in this request. If present, this indicates where to continue the listing.",
                                            "type": "string"
                                        },
                                        "SynthesisTasks": {
                                            "description": "List of SynthesisTask objects that provides information from the specified task in the list request, including output format, creation time, task status, and so on.",
                                            "items": {
                                                "description": "SynthesisTask object that provides information about a speech synthesis task.",
                                                "properties": {
                                                    "CreationTime": {
                                                        "description": "Timestamp for the time the synthesis task was started.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "LanguageCode": {
                                                        "description": "<p>Optional language code for a synthesis task. This is only necessary if using a bilingual voice, such as Aditi, which can be used for either Indian English (en-IN) or Hindi (hi-IN). </p> <p>If a bilingual voice is used and no language code is specified, Amazon Polly will use the default language of the bilingual voice. The default language for any voice is the one returned by the <a href=\"https://docs.aws.amazon.com/polly/latest/dg/API_DescribeVoices.html\">DescribeVoices</a> operation for the <code>LanguageCode</code> parameter. For example, if no language code is specified, Aditi will use Indian English rather than Hindi.</p>",
                                                        "enum": [
                                                            "cmn-CN",
                                                            "cy-GB",
                                                            "da-DK",
                                                            "de-DE",
                                                            "en-AU",
                                                            "en-GB",
                                                            "en-GB-WLS",
                                                            "en-IN",
                                                            "en-US",
                                                            "es-ES",
                                                            "es-MX",
                                                            "es-US",
                                                            "fr-CA",
                                                            "fr-FR",
                                                            "is-IS",
                                                            "it-IT",
                                                            "ja-JP",
                                                            "hi-IN",
                                                            "ko-KR",
                                                            "nb-NO",
                                                            "nl-NL",
                                                            "pl-PL",
                                                            "pt-BR",
                                                            "pt-PT",
                                                            "ro-RO",
                                                            "ru-RU",
                                                            "sv-SE",
                                                            "tr-TR"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "LexiconNames": {
                                                        "description": "List of one or more pronunciation lexicon names you want the service to apply during synthesis. Lexicons are applied only if the language of the lexicon is the same as the language of the voice. ",
                                                        "items": {
                                                            "format": "password",
                                                            "pattern": "[0-9A-Za-z]{1,20}",
                                                            "type": "string"
                                                        },
                                                        "maxItems": 5,
                                                        "type": "array"
                                                    },
                                                    "OutputFormat": {
                                                        "description": "The format in which the returned output will be encoded. For audio stream, this will be mp3, ogg_vorbis, or pcm. For speech marks, this will be json. ",
                                                        "enum": [
                                                            "json",
                                                            "mp3",
                                                            "ogg_vorbis",
                                                            "pcm"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "OutputUri": {
                                                        "description": "Pathway for the output speech file.",
                                                        "type": "string"
                                                    },
                                                    "RequestCharacters": {
                                                        "description": "Number of billable characters synthesized.",
                                                        "type": "integer"
                                                    },
                                                    "SampleRate": {
                                                        "description": "<p>The audio frequency specified in Hz.</p> <p>The valid values for mp3 and ogg_vorbis are \"8000\", \"16000\", and \"22050\". The default value is \"22050\".</p> <p>Valid values for pcm are \"8000\" and \"16000\" The default value is \"16000\". </p>",
                                                        "type": "string"
                                                    },
                                                    "SnsTopicArn": {
                                                        "description": "ARN for the SNS topic optionally used for providing status notification for a speech synthesis task.",
                                                        "pattern": "^arn:aws(-(cn|iso(-b)?|us-gov))?:sns:.*:\\w{12}:.+$",
                                                        "type": "string"
                                                    },
                                                    "SpeechMarkTypes": {
                                                        "description": "The type of speech marks returned for the input text.",
                                                        "items": {
                                                            "enum": [
                                                                "sentence",
                                                                "ssml",
                                                                "viseme",
                                                                "word"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "maxItems": 4,
                                                        "type": "array"
                                                    },
                                                    "TaskId": {
                                                        "description": "The Amazon Polly generated identifier for a speech synthesis task.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "TaskStatus": {
                                                        "description": "Current status of the individual speech synthesis task.",
                                                        "enum": [
                                                            "scheduled",
                                                            "inProgress",
                                                            "completed",
                                                            "failed"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "TaskStatusReason": {
                                                        "description": "Reason for the current status of a specific speech synthesis task, including errors if the task has failed.",
                                                        "type": "string"
                                                    },
                                                    "TextType": {
                                                        "description": "Specifies whether the input text is plain text or SSML. The default value is plain text. ",
                                                        "enum": [
                                                            "ssml",
                                                            "text"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "VoiceId": {
                                                        "description": "Voice ID to use for the synthesis. ",
                                                        "enum": [
                                                            "Geraint",
                                                            "Gwyneth",
                                                            "Mads",
                                                            "Naja",
                                                            "Hans",
                                                            "Marlene",
                                                            "Nicole",
                                                            "Russell",
                                                            "Amy",
                                                            "Brian",
                                                            "Emma",
                                                            "Raveena",
                                                            "Ivy",
                                                            "Joanna",
                                                            "Joey",
                                                            "Justin",
                                                            "Kendra",
                                                            "Kimberly",
                                                            "Matthew",
                                                            "Salli",
                                                            "Conchita",
                                                            "Enrique",
                                                            "Miguel",
                                                            "Penelope",
                                                            "Chantal",
                                                            "Celine",
                                                            "Lea",
                                                            "Mathieu",
                                                            "Dora",
                                                            "Karl",
                                                            "Carla",
                                                            "Giorgio",
                                                            "Mizuki",
                                                            "Liv",
                                                            "Lotte",
                                                            "Ruben",
                                                            "Ewa",
                                                            "Jacek",
                                                            "Jan",
                                                            "Maja",
                                                            "Ricardo",
                                                            "Vitoria",
                                                            "Cristiano",
                                                            "Ines",
                                                            "Carmen",
                                                            "Maxim",
                                                            "Tatyana",
                                                            "Astrid",
                                                            "Filiz",
                                                            "Vicki",
                                                            "Takumi",
                                                            "Seoyeon",
                                                            "Aditi",
                                                            "Zhiyu",
                                                            "Bianca",
                                                            "Lucia",
                                                            "Mia"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Allows the creation of an asynchronous synthesis task, by starting a new <code>SpeechSynthesisTask</code>. This operation requires all the standard information needed for speech synthesis, plus the name of an Amazon S3 bucket for the service to store the output of the synthesis task and two optional parameters (OutputS3KeyPrefix and SnsTopicArn). Once the synthesis task is created, this operation will return a SpeechSynthesisTask object, which will include an identifier of this task as well as the current status.",
                "operationId": "StartSpeechSynthesisTask",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "SynthesisTask": {
                                            "description": "SynthesisTask object that provides information and attributes about a newly submitted speech synthesis task.",
                                            "properties": {
                                                "CreationTime": {
                                                    "description": "Timestamp for the time the synthesis task was started.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "LanguageCode": {
                                                    "description": "<p>Optional language code for a synthesis task. This is only necessary if using a bilingual voice, such as Aditi, which can be used for either Indian English (en-IN) or Hindi (hi-IN). </p> <p>If a bilingual voice is used and no language code is specified, Amazon Polly will use the default language of the bilingual voice. The default language for any voice is the one returned by the <a href=\"https://docs.aws.amazon.com/polly/latest/dg/API_DescribeVoices.html\">DescribeVoices</a> operation for the <code>LanguageCode</code> parameter. For example, if no language code is specified, Aditi will use Indian English rather than Hindi.</p>",
                                                    "enum": [
                                                        "cmn-CN",
                                                        "cy-GB",
                                                        "da-DK",
                                                        "de-DE",
                                                        "en-AU",
                                                        "en-GB",
                                                        "en-GB-WLS",
                                                        "en-IN",
                                                        "en-US",
                                                        "es-ES",
                                                        "es-MX",
                                                        "es-US",
                                                        "fr-CA",
                                                        "fr-FR",
                                                        "is-IS",
                                                        "it-IT",
                                                        "ja-JP",
                                                        "hi-IN",
                                                        "ko-KR",
                                                        "nb-NO",
                                                        "nl-NL",
                                                        "pl-PL",
                                                        "pt-BR",
                                                        "pt-PT",
                                                        "ro-RO",
                                                        "ru-RU",
                                                        "sv-SE",
                                                        "tr-TR"
                                                    ],
                                                    "type": "string"
                                                },
                                                "LexiconNames": {
                                                    "description": "List of one or more pronunciation lexicon names you want the service to apply during synthesis. Lexicons are applied only if the language of the lexicon is the same as the language of the voice. ",
                                                    "items": {
                                                        "format": "password",
                                                        "pattern": "[0-9A-Za-z]{1,20}",
                                                        "type": "string"
                                                    },
                                                    "maxItems": 5,
                                                    "type": "array"
                                                },
                                                "OutputFormat": {
                                                    "description": "The format in which the returned output will be encoded. For audio stream, this will be mp3, ogg_vorbis, or pcm. For speech marks, this will be json. ",
                                                    "enum": [
                                                        "json",
                                                        "mp3",
                                                        "ogg_vorbis",
                                                        "pcm"
                                                    ],
                                                    "type": "string"
                                                },
                                                "OutputUri": {
                                                    "description": "Pathway for the output speech file.",
                                                    "type": "string"
                                                },
                                                "RequestCharacters": {
                                                    "description": "Number of billable characters synthesized.",
                                                    "type": "integer"
                                                },
                                                "SampleRate": {
                                                    "description": "<p>The audio frequency specified in Hz.</p> <p>The valid values for mp3 and ogg_vorbis are \"8000\", \"16000\", and \"22050\". The default value is \"22050\".</p> <p>Valid values for pcm are \"8000\" and \"16000\" The default value is \"16000\". </p>",
                                                    "type": "string"
                                                },
                                                "SnsTopicArn": {
                                                    "description": "ARN for the SNS topic optionally used for providing status notification for a speech synthesis task.",
                                                    "pattern": "^arn:aws(-(cn|iso(-b)?|us-gov))?:sns:.*:\\w{12}:.+$",
                                                    "type": "string"
                                                },
                                                "SpeechMarkTypes": {
                                                    "description": "The type of speech marks returned for the input text.",
                                                    "items": {
                                                        "enum": [
                                                            "sentence",
                                                            "ssml",
                                                            "viseme",
                                                            "word"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "maxItems": 4,
                                                    "type": "array"
                                                },
                                                "TaskId": {
                                                    "description": "The Amazon Polly generated identifier for a speech synthesis task.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "TaskStatus": {
                                                    "description": "Current status of the individual speech synthesis task.",
                                                    "enum": [
                                                        "scheduled",
                                                        "inProgress",
                                                        "completed",
                                                        "failed"
                                                    ],
                                                    "type": "string"
                                                },
                                                "TaskStatusReason": {
                                                    "description": "Reason for the current status of a specific speech synthesis task, including errors if the task has failed.",
                                                    "type": "string"
                                                },
                                                "TextType": {
                                                    "description": "Specifies whether the input text is plain text or SSML. The default value is plain text. ",
                                                    "enum": [
                                                        "ssml",
                                                        "text"
                                                    ],
                                                    "type": "string"
                                                },
                                                "VoiceId": {
                                                    "description": "Voice ID to use for the synthesis. ",
                                                    "enum": [
                                                        "Geraint",
                                                        "Gwyneth",
                                                        "Mads",
                                                        "Naja",
                                                        "Hans",
                                                        "Marlene",
                                                        "Nicole",
                                                        "Russell",
                                                        "Amy",
                                                        "Brian",
                                                        "Emma",
                                                        "Raveena",
                                                        "Ivy",
                                                        "Joanna",
                                                        "Joey",
                                                        "Justin",
                                                        "Kendra",
                                                        "Kimberly",
                                                        "Matthew",
                                                        "Salli",
                                                        "Conchita",
                                                        "Enrique",
                                                        "Miguel",
                                                        "Penelope",
                                                        "Chantal",
                                                        "Celine",
                                                        "Lea",
                                                        "Mathieu",
                                                        "Dora",
                                                        "Karl",
                                                        "Carla",
                                                        "Giorgio",
                                                        "Mizuki",
                                                        "Liv",
                                                        "Lotte",
                                                        "Ruben",
                                                        "Ewa",
                                                        "Jacek",
                                                        "Jan",
                                                        "Maja",
                                                        "Ricardo",
                                                        "Vitoria",
                                                        "Cristiano",
                                                        "Ines",
                                                        "Carmen",
                                                        "Maxim",
                                                        "Tatyana",
                                                        "Astrid",
                                                        "Filiz",
                                                        "Vicki",
                                                        "Takumi",
                                                        "Seoyeon",
                                                        "Aditi",
                                                        "Zhiyu",
                                                        "Bianca",
                                                        "Lucia",
                                                        "Mia"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "TextLengthExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidS3BucketException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidS3KeyException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidSampleRateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidSnsTopicArnException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidSsmlException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "LexiconNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "MarksNotSupportedForFormatException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "SsmlMarksNotSupportedForTextTypeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "LanguageNotSupportedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "LanguageCode": {
                                        "description": "<p>Optional language code for the Speech Synthesis request. This is only necessary if using a bilingual voice, such as Aditi, which can be used for either Indian English (en-IN) or Hindi (hi-IN). </p> <p>If a bilingual voice is used and no language code is specified, Amazon Polly will use the default language of the bilingual voice. The default language for any voice is the one returned by the <a href=\"https://docs.aws.amazon.com/polly/latest/dg/API_DescribeVoices.html\">DescribeVoices</a> operation for the <code>LanguageCode</code> parameter. For example, if no language code is specified, Aditi will use Indian English rather than Hindi.</p>",
                                        "enum": [
                                            "cmn-CN",
                                            "cy-GB",
                                            "da-DK",
                                            "de-DE",
                                            "en-AU",
                                            "en-GB",
                                            "en-GB-WLS",
                                            "en-IN",
                                            "en-US",
                                            "es-ES",
                                            "es-MX",
                                            "es-US",
                                            "fr-CA",
                                            "fr-FR",
                                            "is-IS",
                                            "it-IT",
                                            "ja-JP",
                                            "hi-IN",
                                            "ko-KR",
                                            "nb-NO",
                                            "nl-NL",
                                            "pl-PL",
                                            "pt-BR",
                                            "pt-PT",
                                            "ro-RO",
                                            "ru-RU",
                                            "sv-SE",
                                            "tr-TR"
                                        ],
                                        "type": "string"
                                    },
                                    "LexiconNames": {
                                        "description": "List of one or more pronunciation lexicon names you want the service to apply during synthesis. Lexicons are applied only if the language of the lexicon is the same as the language of the voice. ",
                                        "items": {
                                            "format": "password",
                                            "pattern": "[0-9A-Za-z]{1,20}",
                                            "type": "string"
                                        },
                                        "maxItems": 5,
                                        "type": "array"
                                    },
                                    "OutputFormat": {
                                        "description": "The format in which the returned output will be encoded. For audio stream, this will be mp3, ogg_vorbis, or pcm. For speech marks, this will be json. ",
                                        "enum": [
                                            "json",
                                            "mp3",
                                            "ogg_vorbis",
                                            "pcm"
                                        ],
                                        "type": "string"
                                    },
                                    "OutputS3BucketName": {
                                        "description": "Amazon S3 bucket name to which the output file will be saved.",
                                        "pattern": "^[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]$",
                                        "type": "string"
                                    },
                                    "OutputS3KeyPrefix": {
                                        "description": "The Amazon S3 key prefix for the output speech file.",
                                        "pattern": "^[0-9a-zA-Z\\/\\!\\-_\\.\\*\\'\\(\\)]{0,800}$",
                                        "type": "string"
                                    },
                                    "SampleRate": {
                                        "description": "<p>The audio frequency specified in Hz.</p> <p>The valid values for mp3 and ogg_vorbis are \"8000\", \"16000\", and \"22050\". The default value is \"22050\".</p> <p>Valid values for pcm are \"8000\" and \"16000\" The default value is \"16000\". </p>",
                                        "type": "string"
                                    },
                                    "SnsTopicArn": {
                                        "description": "ARN for the SNS topic optionally used for providing status notification for a speech synthesis task.",
                                        "pattern": "^arn:aws(-(cn|iso(-b)?|us-gov))?:sns:.*:\\w{12}:.+$",
                                        "type": "string"
                                    },
                                    "SpeechMarkTypes": {
                                        "description": "The type of speech marks returned for the input text.",
                                        "items": {
                                            "enum": [
                                                "sentence",
                                                "ssml",
                                                "viseme",
                                                "word"
                                            ],
                                            "type": "string"
                                        },
                                        "maxItems": 4,
                                        "type": "array"
                                    },
                                    "Text": {
                                        "description": "The input text to synthesize. If you specify ssml as the TextType, follow the SSML format for the input text. ",
                                        "type": "string"
                                    },
                                    "TextType": {
                                        "description": "Specifies whether the input text is plain text or SSML. The default value is plain text. ",
                                        "enum": [
                                            "ssml",
                                            "text"
                                        ],
                                        "type": "string"
                                    },
                                    "VoiceId": {
                                        "description": "Voice ID to use for the synthesis. ",
                                        "enum": [
                                            "Geraint",
                                            "Gwyneth",
                                            "Mads",
                                            "Naja",
                                            "Hans",
                                            "Marlene",
                                            "Nicole",
                                            "Russell",
                                            "Amy",
                                            "Brian",
                                            "Emma",
                                            "Raveena",
                                            "Ivy",
                                            "Joanna",
                                            "Joey",
                                            "Justin",
                                            "Kendra",
                                            "Kimberly",
                                            "Matthew",
                                            "Salli",
                                            "Conchita",
                                            "Enrique",
                                            "Miguel",
                                            "Penelope",
                                            "Chantal",
                                            "Celine",
                                            "Lea",
                                            "Mathieu",
                                            "Dora",
                                            "Karl",
                                            "Carla",
                                            "Giorgio",
                                            "Mizuki",
                                            "Liv",
                                            "Lotte",
                                            "Ruben",
                                            "Ewa",
                                            "Jacek",
                                            "Jan",
                                            "Maja",
                                            "Ricardo",
                                            "Vitoria",
                                            "Cristiano",
                                            "Ines",
                                            "Carmen",
                                            "Maxim",
                                            "Tatyana",
                                            "Astrid",
                                            "Filiz",
                                            "Vicki",
                                            "Takumi",
                                            "Seoyeon",
                                            "Aditi",
                                            "Zhiyu",
                                            "Bianca",
                                            "Lucia",
                                            "Mia"
                                        ],
[...]
